<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<%- if @merge_power == true %>
 <h3><%= _("Merge Articles")%></h3>
 <%= form_tag do %>
  Article ID
  <input id='merge' type='text' name='merge_id' />
  <%= hidden_field_tag :merge, true %>
  <br>
  <%= submit_tag(("Merge"), {:id => @article.id, :article => @article}) %>
 <% end %>
<% end %>
